@using TRAVEL.Areas.Admin.Models;
@model List<VisitorViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Api Ziyaretçi Listesi</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Şehir</th>
        <th>Ülke</th>
        <th>Mail</th>
        <th>Sil</th>
        <th>Güncelleme</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.Visitorıd</th>
            <th>@item.Name</th>
            <th>@item.Surname</th>
            <th>@item.City</th>
            <th>@item.Country</th>
            <th>@item.Mail</th>
            <td><a href="/Admin/VisitorApi/DeleteVisitor/@item.Visitorıd/" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/VisitorApi/UpdateVisitor/@item.Visitorıd/" class="btn btn-outline-success">Güncelle</a></td>

        </tr>
    }
</table>

<a href="/Admin/VisitorApi/AddVisitor/"class="btn btn-outline-primary">Yeni Ziyaretçi Girişi</a>
