@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Cqres Tur Verielri</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>ŞEHİR</th>
        <th>GÜN-GECE</th>
        <th>FİYAT</th>
        <th>KAPASİTE</th>
        <th>GÜNCELLEME</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.city</td>
            <td>@item.daynight</td>
            <td>@item.price</td>
            <td>@item.capacity</td>
            <td><a href="/Admin/DestinationCqrs/DeleteDestination/@item.id" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Admin/DestinationCqrs/GetDestination/@item.id" class="btn btn-outline-success">Güncelle</a></td>
    
        </tr>
    }


</table>
<td><a href="/Admin/DestinationCqrs/AddDestination" class="btn btn-outline-success">Yeni Tur ROTASI EKLEME</a></td>
