@using EntityLayer.Concrete
@model List<Reservation>
@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/_UserLayout.cshtml";
}

<h1>Onay Bekleyen Rezervasyonlar</h1>
<br />
@if (Model.Count < 1)
{
    <h2> Onay Bekleyen Rezervasyon Bulunmamaktadır</h2>
}
else
{
  
<table class="table table-bordered">
  
    <tr>
        <th>#</th>
        <th>lOKASYON</th>
        <th>Kişi Sayısı</th>
        <th>Rezervasyon Tarihi</th>
        <th>Durum</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ReservationID</td>
            <td>@item.Destination.City</td>
            <td>@item.PersonCount</td>
            <td>@item.ReservastionDate</td>
            <td>@item.Status</td>


        </tr>
    }




</table>
}