@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/LayoutPartical/_MemberLayout.cshtml";
}

<h1>Yeni Rezervasyon Syafası</h1>

<div class="card-content collapse show">
	<div class="card-body">
		<p class="card-text">Yeni Rezervasyon Sayfası </p>
		<div class="table-responsive">
            <form method="post">
                @*    <div class="form-group">
                @Html.Label("Lokasyon")
                @Html.DropDownListFor(x=>x.Destination,(List<SelectListItem>)ViewBag.v,new{@class="form-control"})
                </div>*@
                <div class="form-group">
                    @Html.Label("Kişi Sayısı")
                    <input type="text" asp-for="PersonCount" class="form-control" />

                </div>
                <div class="form-group">
                    @Html.Label("Tarih")
                    <input type="date" asp-for="ReservastionDate" class="form-control" />

                </div>
                <div class="form-group">
                    @Html.Label("Varsa Eklemek Istedikleriniz")
                    <input type="text" asp-for="Description" class="form-control" />
                </div>
                <button class="btn btn-outline-success">REZERVASYON YAP</button>
            </form>

		</div>
	</div>
</div>
